{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agregar Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white text-2xl font-bold">Agregar Paciente</h1>
            <a href="{% url 'pagina_principal' %}" class="inline-block">
                <button
                    class="px-4 py-2 bg-blue-500 text-white font-bold rounded-md shadow-md hover:bg-blue-700">Volver</button>
            </a>
        </div>
    </nav>
    <form method="POST" action="{% url 'agregar_paciente' %}"
        class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
        {% csrf_token %}

        <!-- Selección de País -->
        <div class="mb-4">
            <label for="pais" class="block text-gray-700 font-bold mb-2">País:</label>
            <select name="pais" id="pais" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for pais in paises %}
                <option value="{{ pais.0 }}">{{ pais.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Tipo de Documentación -->
        <div class="mb-4">
            <label for="tipodocumentacion" class="block text-gray-700 font-bold mb-2">Tipo de Documentación:</label>
            <select name="tipodocumentacion" id="tipodocumentacion"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for tipo_id, nombre in choices_tipodocumentacion %}
                <option value="{{ tipo_id }}">{{ nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Número de Documento -->
        <div class="mb-4">
            <label for="numeroDocumento" class="block text-gray-700 font-bold mb-2">Número de Documento:</label>
            <input type="text" name="numeroDocumento" id="numeroDocumento" required
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
        </div>

        <!-- Campos de nombre y apellido -->
        <div class="mb-4">
            <label for="ct_primerapellido" class="block text-gray-700 font-bold mb-2">Primer Apellido:</label>
            <input type="text" name="ct_primerapellido" id="ct_primerapellido" required
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
        </div>

        <div class="mb-4">
            <label for="ct_segundoapellido" class="block text-gray-700 font-bold mb-2">Segundo Apellido:</label>
            <input type="text" name="ct_segundoapellido" id="ct_segundoapellido"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
        </div>

        <div class="mb-4">
            <label for="ct_primernombre" class="block text-gray-700 font-bold mb-2">Primer Nombre:</label>
            <input type="text" name="ct_primernombre" id="ct_primernombre" required
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
        </div>

        <div class="mb-4">
            <label for="ct_segundonombre" class="block text-gray-700 font-bold mb-2">Segundo Nombre:</label>
            <input type="text" name="ct_segundonombre" id="ct_segundonombre"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="mb-4">
            <label for="ct_fechanacimiento" class="block text-gray-700 font-bold mb-2">Fecha de Nacimiento:</label>
            <input type="date" name="ct_fechanacimiento" id="ct_fechanacimiento" required
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
        </div>

        <!-- Sexo Biológico -->
        <div class="mb-4">
            <label for="ct_nombresexobiologico" class="block text-gray-700 font-bold mb-2">Sexo Biológico:</label>
            <select name="ct_nombresexobiologico" id="ct_nombresexobiologico"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for sexo in choices_sexobiologico %}
                <option value="{{ sexo.0 }}">{{ sexo.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Identidad de Género -->
        <div class="mb-4">
            <label for="ct_nombreidentidadgenero" class="block text-gray-700 font-bold mb-2">Identidad de
                Género:</label>
            <select name="ct_nombreidentidadgenero" id="ct_nombreidentidadgenero"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for genero in choices_identidadgenero %}
                <option value="{{ genero.0 }}">{{ genero.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Nombre Voluntad Anticipada-->
        <div class="mb-4">
            <label for="ct_nombrevoluntadanticipada" class="block text-gray-700 font-bold mb-2">Nombre Voluntad
                Anticipada:</label>
            <select name="ct_nombrevoluntadanticipada" id="ct_nombrevoluntadanticipada" required
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                <option value="Sí">Sí</option>
                <option value="No">No</option>
            </select>
        </div>

        <!-- Nombre Zona Territorial-->
        <div class="mb-4">
            <label for="ct_nombrezonaterritorial" class="block text-gray-700 font-bold mb-2">Nombre Zona
                Territorial:</label>
            <select name="ct_nombrezonaterritorial" id="ct_nombrezonaterritorial" required
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                <option value="Rural">Rural</option>
                <option value="Urbano">Urbano</option>
            </select>
        </div>

        <!-- Ocupación -->
        <div class="mb-4">
            <label for="ocupacion" class="block text-gray-700 font-bold mb-2">Ocupación:</label>
            <select name="ocupacion" id="ocupacion" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for ocupacion in ocupaciones %}
                <option value="{{ ocupacion.0 }}">{{ ocupacion.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Oposición a Donación -->
        <div class="mb-4">
            <label for="ct_oposiciondonacion" class="block text-gray-700 font-bold mb-2">Oposición a Donación:</label>
            <select name="ct_oposiciondonacion" id="ct_oposiciondonacion"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for opcion in choices_oposiciondonacion %}
                <option value="{{ opcion.0 }}">{{ opcion.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Otros campos adicionales -->
        <!-- Aquí podrías agregar los campos para discapacidad, departamento, municipio, etnia, comunidad y entidad responsable -->

        <div class="mb-4">
            <label for="discapacidad" class="block text-gray-700 font-bold mb-2">Discapacidad:</label>
            <select name="discapacidad" id="discapacidad"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for discapacidad in discapacidades %}
                <option value="{{ discapacidad.0 }}">{{ discapacidad.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="departamento" class="block text-gray-700 font-bold mb-2">Departamento de Residencia:</label>
            <select name="departamento" id="departamento"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for departamento in departamentos %}
                <option value="{{ departamento.0 }}">{{ departamento.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="municipio" class="block text-gray-700 font-bold mb-2">Municipio de Residencia:</label>
            <select name="municipio" id="municipio" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for municipio in municipios %}
                <option value="{{ municipio.0 }}">{{ municipio.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="etnia" class="block text-gray-700 font-bold mb-2">Pertenencia Étnica:</label>
            <select name="etnia" id="etnia" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for etnia in etnias %}
                <option value="{{ etnia.0 }}">{{ etnia.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="comunidad" class="block text-gray-700 font-bold mb-2">Comunidad Étnica:</label>
            <select name="comunidad" id="comunidad" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for comunidad in comunidades %}
                <option value="{{ comunidad.0 }}">{{ comunidad.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="entidades_responsables" class="block text-gray-700 font-bold mb-2">Entidad Responsable:</label>
            <select name="entidades_responsables" id="entidades_responsables"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm">
                {% for entidad in entidades_responsables %}
                <option value="{{ entidad.0 }}">{{ entidad.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flex justify-end">
            <button type="submit"
                class="px-4 py-2 bg-blue-500 text-white font-bold rounded-md shadow-md hover:bg-blue-700">Agregar
                Paciente</button>
        </div>
    </form>

    <h2 class="text-2xl font-bold mb-4">Listado de Pacientes</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-4 border-b border-gray-300">Documento de Identificación</th>
                    <th class="py-3 px-4 border-b border-gray-300">País</th>
                    <th class="py-3 px-4 border-b border-gray-300">Tipo Documentación</th>
                    <th class="py-3 px-4 border-b border-gray-300">Primer Apellido</th>
                    <th class="py-3 px-4 border-b border-gray-300">Segundo Apellido</th>
                    <th class="py-3 px-4 border-b border-gray-300">Primer Nombre</th>
                    <th class="py-3 px-4 border-b border-gray-300">Segundo Nombre</th>
                    <th class="py-3 px-4 border-b border-gray-300">Fecha de Nacimiento</th>
                    <th class="py-3 px-4 border-b border-gray-300">Sexo Biológico</th>
                    <th class="py-3 px-4 border-b border-gray-300">Identidad de Género</th>
                    <th class="py-3 px-4 border-b border-gray-300">Ocupación</th>
                    <th class="py-3 px-4 border-b border-gray-300">Oposición Donación</th>
                    <th class="py-3 px-4 border-b border-gray-300">Fecha Oposición Donación</th>
                    <th class="py-3 px-4 border-b border-gray-300">Nombre Voluntad Anticipada</th>
                    <th class="py-3 px-4 border-b border-gray-300">Fecha Voluntad Anticipada</th>
                    <th class="py-3 px-4 border-b border-gray-300">Categoría Discapacidad</th>
                    <th class="py-3 px-4 border-b border-gray-300">Municipio de Residencia</th>
                    <th class="py-3 px-4 border-b border-gray-300">Departamento de Residencia</th>
                    <th class="py-3 px-4 border-b border-gray-300">Comunidad Étnica</th>
                    <th class="py-3 px-4 border-b border-gray-300">Pertenencia Étnica</th>
                    <th class="py-3 px-4 border-b border-gray-300">Zona Territorial</th>
                    <th class="py-3 px-4 border-b border-gray-300">Entidad Responsable</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-4">{{ ct_documentoIdentificacion.ct_numeroDocumentoIdentificacion }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_pais }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_tipodocumentacion_id }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_primerapellido }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_segundoapellido }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_primernombre }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_segundonombre }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_fechanacimiento }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_nombresexobiologico }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_nombreidentidadgenero }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_ocupacion }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_oposiciondonacion }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_fechaoposiciondonacion }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_nombrevoluntadanticipada }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_fechavoluntadanticipada }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_categoriadiscapacidad }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_municipioresidencia }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_departamentoresidencia }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_comunidadetnica }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_pertenenciaetnica }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_nombrezonaterritorial }}</td>
                    <td class="py-3 px-4">{{ paciente.ct_entidadresponsable }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>